#streamlit
conda install -c conda-forge streamlit
conda install -c plotly plotly
sklearn
pandas
numpy
pip install yfinance --upgrade --no-cache-dir
python -m pip install prophet

tensorflow == 2.6
keras == 2.6